
    .bestdcardtext{ text-align: left; padding: 8px; }
    .dtext21{ margin: 6px; }
    .dtext1{  font-size: 15px; color: orangered;  margin: 6px; padding: 0; font-weight: 600;}
    .dtext2{margin: 0;  }
    .dtext3{ font-size: 13px;margin: 0; padding: 0;font-weight: 600;  }
    .dtext4{  font-size: 11px; margin: 0; padding: 0; margin: 6px;font-weight: 600;}
    .dtext5{ font-size: 12px;  margin: 0; padding: 0;font-weight: 600; margin: 6px;}
     .dtext6{ font-size: 11px; color: blue;margin: 0; padding: 0; margin: 6px;  }
    .dtext22{  font-size: 14px;margin: 0; padding: 0;font-weight: 600; margin: 6px; }
.time1 { font-size: 11px; margin: 6px; }
.time2{ position: absolute; right: 0; margin: 0 6px 0 0;}
.ratings{  font-size: 15px; }
.rating2{ margin-left: 8px; }

      
   .bestdcard { background-color: white!important; }

    @media screen and (max-width:350px){
      .ratings{  font-size: 12px; }
       .bestdcardtext{ text-align: left; padding: 8px; }
    .dtext21{ margin: 4px; }
    .dtext1{  font-size: 12px; color: orangered;  margin: 4px; padding: 0; font-weight: 600;}
    .dtext2{margin: 0;  }
    .dtext3{ font-size: 11px;margin: 0; padding: 0;font-weight: 600;  }
    .dtext4{  font-size: 9px; margin: 0; padding: 0; margin: 4px;font-weight: 600;}
    .dtext5{ font-size: 10px;  margin: 0; padding: 0;font-weight: 600; margin: 4px;}
     .dtext6{ font-size: 9px; color: blue;margin: 0; padding: 0; margin: 4px;  }
    .dtext22{  font-size: 12px;margin: 0; padding: 0;font-weight: 600; margin: 4px; }
.time1 { font-size: 9px; margin: 4px; }
.time2{ position: absolute; right: 0; margin: 0 4px 0 0;}

}


