
 <ion-slides [options]="sliderConfig" class="bg-white">

        <ion-slide>
          <div class="bestdcard">
          <div class="bestdcardimg">
             <img src="assets/icon/men.jpg">
          </div>

          <div class="bestdcardtext">
             <p class="dtext1" >₹ 900</p>
              <p class="dtext2"><span class="dtext22" >M.R.P </span> <span class="dtext3"><del> ₹ 1400</del></span>
               <span class="dtext4"> (40% Off)  </span> </p>
               <ion-progress-bar class="dtext21"  color="warning" value="0.5"></ion-progress-bar>
               <p class="time1">35% Claimed<span class="time2" >Ends in 9:09:09</span></p>
              <h6 class="dtext5">Milton Thermusteel Flip Lid Flask</h6>
              <p class="dtext6" >RoyalOak Amber Engineered Steel Computer Desk</p>
              <div class="ratings">
              <ion-icon color="warning" name="star"></ion-icon>
              <ion-icon color="warning" name="star"></ion-icon>
              <ion-icon color="warning" name="star"></ion-icon>
              <ion-icon color="warning" name="star"></ion-icon>
              <ion-icon name="star-outline"></ion-icon><span class="rating2" >909090</span>
            </div>
          </div>
          
        </div>
        </ion-slide>

        <ion-slide>
          <div class="bestdcard">
          <div class="bestdcardimg">
             <img src="assets/icon/men.jpg">
          </div>

          <div class="bestdcardtext">
             <p class="dtext1" >₹ 900</p>
              <p class="dtext2"><span class="dtext22" >M.R.P </span> <span class="dtext3"><del> ₹ 1400</del></span>
               <span class="dtext4"> (40% Off)  </span> </p>
               <ion-progress-bar class="dtext21"  color="warning" value="0.5"></ion-progress-bar>
               <p class="time1">35% Claimed<span class="time2" >Ends in 9:09:09</span></p>
              <h6 class="dtext5">Milton Thermusteel Flip Lid Flask</h6>
              <p class="dtext6" >RoyalOak Amber Engineered Steel Computer Desk</p>
              <div class="ratings">
              <ion-icon color="warning" name="star"></ion-icon>
              <ion-icon color="warning" name="star"></ion-icon>
              <ion-icon color="warning" name="star"></ion-icon>
              <ion-icon color="warning" name="star"></ion-icon>
              <ion-icon name="star-outline"></ion-icon><span class="rating2" >909090</span>
            </div>
          </div>
          
        </div>
        </ion-slide>

        <ion-slide>
          <div class="bestdcard">
          <div class="bestdcardimg">
             <img src="assets/icon/men.jpg">
          </div>

          <div class="bestdcardtext">
             <p class="dtext1" >₹ 900</p>
              <p class="dtext2"><span class="dtext22" >M.R.P </span> <span class="dtext3"><del> ₹ 1400</del></span>
               <span class="dtext4"> (40% Off)  </span> </p>
               <ion-progress-bar class="dtext21"  color="warning" value="0.5"></ion-progress-bar>
               <p class="time1">35% Claimed<span class="time2" >Ends in 9:09:09</span></p>
              <h6 class="dtext5">Milton Thermusteel Flip Lid Flask</h6>
              <p class="dtext6" >RoyalOak Amber Engineered Steel Computer Desk</p>
              <div class="ratings">
              <ion-icon color="warning" name="star"></ion-icon>
              <ion-icon color="warning" name="star"></ion-icon>
              <ion-icon color="warning" name="star"></ion-icon>
              <ion-icon color="warning" name="star"></ion-icon>
              <ion-icon name="star-outline"></ion-icon><span class="rating2" >909090</span>
            </div>
          </div>
          
        </div>
        </ion-slide>

      </ion-slides>