<ion-header>
  <ion-toolbar>
  	<ion-buttons class="white"  slot="start">
      <ion-back-button   defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title class="white"  >Wishlist</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

<div class="wish_head">
  <p> Your Wishlist  <span><ion-icon color="danger" name="heart"></ion-icon></span></p>
 
</div>
 <hr class="hrclass2">

	<ion-row>
    <ion-col size="4">
     <div ssclass="wishlistimg">
     	<img src="assets/icon/men.jpg">
     </div>
    </ion-col>
    <ion-col size="6">
     <div class="wishlisttext1">
     	<h6>Men's Shirt</h6>
     	<button class="wishlistbtn">4.3<ion-icon color="light" name="star"></ion-icon></button>
     	<p>Details</p>
     	<ul>
     		<li> height: 50m </li>
     		<li> width : 35m </li>
     		<li> color : Red; </li>
     		<p> <b> ₹ 600 </b> </p>
     	</ul>
     </div>
    </ion-col>
    <ion-col size="2">
      <div class="wishlisttext2">
      	<ion-icon name="trash"></ion-icon>
     </div>
    </ion-col>
  </ion-row>
  <hr class="hrclass2">
  <ion-row>
    <ion-col size="4">
     <div ssclass="wishlistimg">
     	<img src="assets/icon/men.jpg">
     </div>
    </ion-col>
    <ion-col size="6">
     <div class="wishlisttext1">
     	<h6>Men's Shirt</h6>
     	<button class="wishlistbtn">4.3<ion-icon color="light" name="star"></ion-icon></button>
     	<p>Details</p>
     	<ul>
     		<li> height: 50m </li>
     		<li> width : 35m </li>
     		<li> color : Red; </li>
     		<p> <b> ₹ 600 </b> </p>
     	</ul>
     </div>
    </ion-col>
    <ion-col size="2">
      <div class="wishlisttext2">
      	<ion-icon name="trash"></ion-icon>
     </div>
    </ion-col>
  </ion-row>
   <hr class="hrclass2">

</ion-content>
