
.wishlisttext1 h6{ font-size: 17px; font-weight: 600; }
.wishlisttext1 p{ font-size: 15px; margin: 5px 0; }
.wishlistbtn{ background-color: #008d84; color: #fff; }
.wishlisttext1 ul{ padding: 0  0 0 20px  }
.wishlisttext1 ul li{ font-size: 13px; }
.wishlisttext2 ion-icon { font-size: 20px; margin-top: 30px; }

.wish_head p{ margin: 15px 10px;
    font-size: 18px; }
.wish_head span{     position: absolute;
    right: 10px;
    font-weight: 300;
    font-size: 15px; }
