<ion-header>
  <ion-toolbar>
  	<ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>About</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
	ersdtfyugih[o]jpk[]p\oi[upoyituytuarestidyfugio'hup
j[k]]
</ion-content>
