<ion-header>
  <ion-toolbar>
      <ion-title style="text-align: center;" ><img src="assets/icon/logo.png"></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>


  <div class="limiter">
    <div class="container-login100" >
      <div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-54">
        <form class="login100-form validate-form">
          <p style="text-align: center;font-size: 21px; color: hotpink;">Login With</p>
          <span class="login100-form-title p-b-49">
           HomeGlare
          </span>

          <div class="wrap-input100 validate-input m-b-23" data-validate = "Username is reauired">
            <span class="label-input100">Username</span>
            <input class="input100" type="text" name="username" placeholder="Type your username">
            <span class="focus-input100" data-symbol="&#xf206;"></span>
          </div>

          <div class="wrap-input100 validate-input" data-validate="Password is required">
            <span class="label-input100">Password</span>
            <input class="input100" type="password" name="pass" placeholder="Type your password">
            <span class="focus-input100" data-symbol="&#xf190;"></span>
          </div>
          
          <div class="text-right p-t-8 p-b-31">
            <a href="#">
              Forgot password?
            </a>
          </div>
          
          <div class="container-login100-form-btn">
            <div class="wrap-login100-form-btn">
              <div class="login100-form-bgbtn"></div>
              <button routerLink="/" class="login100-form-btn">
                Login
              </button>
            </div>
          </div>

          <div class="txt1 text-center p-t-54 p-b-20">
            <span>
              Or Sign Up Using
            </span>
          </div>

          <div class="flex-c-m">
            <a href="#" class="login100-social-item bg1">
              <i class="fa fa-facebook"></i>
            </a>

            <a href="#" class="login100-social-item bg2">
              <i class="fa fa-twitter"></i>
            </a>

            <a href="#" class="login100-social-item bg3">
              <i class="fa fa-google"></i>
            </a>
          </div>

          <div class="flex-col-c p-t-25">
            <span  class="txt1 p-b-17">
              Or Sign Up Using
            </span>

            <a routerLink="/register" class="txt2">
              Sign Up
            </a>
          </div>
        </form>
      </div>
    </div>
  </div>
  

  <div id="dropDownSelect1"></div>
  


  

	 <!-- <div class="swiper-container">
    <div class="swiper-wrapper">
      <div class="swiper-slide"> <img src="assets/icon/men.jpg"></div>
      <div class="swiper-slide"> <img src="assets/icon/men.jpg"></div>
      <div class="swiper-slide"> <img src="assets/icon/men.jpg"></div>
      <div class="swiper-slide"> <img src="assets/icon/men.jpg"></div>
      <div class="swiper-slide"> <img src="assets/icon/men.jpg"></div>
      <div class="swiper-slide"> <img src="assets/icon/men.jpg"></div>
      <div class="swiper-slide"> <img src="assets/icon/men.jpg"></div>
      <div class="swiper-slide"> <img src="assets/icon/men.jpg"></div>
      <div class="swiper-slide"> <img src="assets/icon/men.jpg"></div>
      <div class="swiper-slide"><img src="assets/icon/men.jpg"></div>
    </div>
  
   
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
  </div> -->

</ion-content>
