.footer-sec ion-label {  color: #000; }

.footer-sec ion-icon {  color:#00a384; margin: 5px 0; font-size: 25px; }


@media screen and (min-width:360px ){

	.footer-sec ion-label {  font-size: 15px; }

	.footer-sec ion-icon {font-size: 35px; }

}

/*ion-icon{ 
 --ion-color:linear-gradient(to right, #00a384 0%, #01338a 100%);
	 }*/