<ion-tabs>

  <ion-tab-bar slot="bottom" class="footer-sec">

   

    <ion-tab-button tab="user">
       <ion-icon name="contact"></ion-icon>
      <ion-label>User</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="category">
     <ion-icon name="apps"></ion-icon>
      <ion-label>Category</ion-label>
    </ion-tab-button>

    <ion-tab-button routerLink="/" tab="home">
      <ion-icon name="home"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="notifications">
        <ion-icon ios="ios-notifications" md="md-notifications"></ion-icon>
      <ion-label>Notifications</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="deals">
      <ion-icon name="pricetags"></ion-icon>
      <ion-label>Deals</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>
