<ion-header>
  <ion-toolbar>
  	<ion-buttons class="white"  slot="start">
      <ion-back-button   defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title class="white" >Kitchen Appliance</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

	<ion-row id="selectby">
       <ion-col>

       	<ion-item lines="none">
          <ion-label class="shorttxt1"> <img src="assets/icon/filter.png"> SHORT BY</ion-label>
          <ion-select class="shorttxt2">
            <ion-select-option value="cat">Cat</ion-select-option>
            <ion-select-option value="dog">Dog</ion-select-option>
          </ion-select>
        </ion-item>
       	
       </ion-col>
       <ion-col>

       	<ion-item lines="none">
          <ion-label class="shorttxt1"> <img src="assets/icon/filter.png"> REFINE</ion-label>
          <ion-select class="shorttxt2">
            <ion-select-option value="cat">Cat</ion-select-option>
            <ion-select-option value="dog">Dog</ion-select-option>
          </ion-select>
        </ion-item>
       	
       </ion-col>
    </ion-row>




<ion-grid>
  <ion-row>
    <ion-col size="6">
    <ion-card>
    	 <span class="wishlst"><ion-icon name="heart-empty"></ion-icon> </span>
        <img src="assets/icon/men.jpg">
        <ion-card-header class="kitchencard">
        	<ion-card-title class="kitchen1" >Men's Shirt</ion-card-title>
          <ion-card-subtitle>
          	 <span class="kitchen2">Rs 1600</span> 
          	 <span class="kitchen3"><del> ₹ 1900</del></span>
             <span class="kitchen4"> 40% Off </span>
           </ion-card-subtitle>
          <div class="addtobtn">
           <ion-button color="danger" size="small">
           <small>Add to Cart</small>
           <ion-icon slot="start" name="add"></ion-icon>
          </ion-button>
          </div>
        </ion-card-header>
      </ion-card>
    </ion-col>

    
    <ion-col size="6">
     <ion-card>
    	 <span class="wishlst"><ion-icon name="heart-empty"></ion-icon> </span>
        <img src="assets/icon/men.jpg">
        <ion-card-header class="kitchencard">
        	<ion-card-title class="kitchen1" >Men's Shirt</ion-card-title>
          <ion-card-subtitle>
          	 <span class="kitchen2">Rs 1600</span> 
          	 <span class="kitchen3"><del> ₹ 1900</del></span>
             <span class="kitchen4"> 40% Off </span>
           </ion-card-subtitle>
           <div class="addtobtn">
           <ion-button color="danger" size="small">
           <small>Add to Cart</small>
           <ion-icon slot="start" name="add"></ion-icon>
          </ion-button>
          </div>
        </ion-card-header>
      </ion-card>
    </ion-col>
  </ion-row>

 <ion-row>
    <ion-col size="6">
    <ion-card>
    	 <span class="wishlst"><ion-icon name="heart-empty"></ion-icon> </span>
        <img src="assets/icon/men.jpg">
        <ion-card-header class="kitchencard">
        	<ion-card-title class="kitchen1" >Men's Shirt</ion-card-title>
          <ion-card-subtitle>
          	 <span class="kitchen2">Rs 1600</span> 
          	 <span class="kitchen3"><del> ₹ 1900</del></span>
             <span class="kitchen4"> 40% Off </span>
           </ion-card-subtitle>
          <div class="addtobtn">
           <ion-button color="danger" size="small">
           <small>Add to Cart</small>
           <ion-icon slot="start" name="add"></ion-icon>
          </ion-button>
          </div>
        </ion-card-header>
      </ion-card>
    </ion-col>
    
    
    <ion-col size="6">
     <ion-card>
    	 <span class="wishlst"><ion-icon name="heart-empty"></ion-icon> </span>
        <img src="assets/icon/men.jpg">
        <ion-card-header class="kitchencard">
        	<ion-card-title class="kitchen1" >Men's Shirt</ion-card-title>
          <ion-card-subtitle>
          	 <span class="kitchen2">Rs 1600</span> 
          	 <span class="kitchen3"><del> ₹ 1900</del></span>
             <span class="kitchen4"> 40% Off </span>
           </ion-card-subtitle>
          <div class="addtobtn">
           <ion-button color="danger" size="small">
           <small>Add to Cart</small>
           <ion-icon slot="start" name="add"></ion-icon>
          </ion-button>
          </div>
        </ion-card-header>
      </ion-card>
    </ion-col>
  </ion-row>


</ion-grid>
	  

</ion-content>
