.couponsec {  padding: 20px 10px; text-align: center;  }
.couponsec input{ border: none;
    height: 30px;
    border-radius: 20px; padding: 0 10px; }
    .couponsec button{ background-color: #000; border: none;
    height: 30px;
    border-radius: 20px; padding: 0 25px;  color: #fff;margin-left: 12px; }

 ::placeholder {
  
  opacity: 1; /* Firefox */
  font-size: 12px;
 
}
.carth { font-size: 15px; padding-left: 15px; }

.cartimg img{ height: 85px ; width: 85px;}
.cartimg{ text-align: center; }
.cartcard{ padding: 8px; }

.cart1{ font-size: 20px; font-weight: bold; }
.cart2{ font-size: 18px; color: #000; }
.cart3{  font-size: 16px; }
.cart4{  font-size: 14px;  color: #3ec751; }
.cart5{  font-size: 12px;  color: #222; }

.shorttxt1{ font-size: 12px; }
.shorttxt2{ padding: 0; }
#selectby{ box-shadow: 0 2px 5px 0 rgba(0,0,0,.3); }
.selectoption { text-align: center; color: #000; }

@media screen and (max-width: 350px){

  .cart2{ font-size: 11px; color: #000; }
.cart3{  font-size: 10px; }
.cart4{  font-size: 9px;  color: #3ec751; }
}

.cartsec{ background-color: #eee; }







