<ion-header>
  <ion-toolbar>
  	<ion-buttons class="white"  slot="start">
      <ion-back-button   defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title class="white" >Your Order</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<p class="carth">CART</p>

<div class="cartsec">
	<div class="couponsec">
		<input type="" placeholder="Enter Coupon Code" name="">
		<button>Apply</button>
	</div>
<div>
	<ion-grid>
		<ion-row class="whitebg paddall8">
		<ion-col size="8">
			<ion-card-title class="cart1" >Men's Shirt</ion-card-title>
			<p class="cart5">Pack of One</p>
			<p class="cart4"> 2 offers available </p>
          <ion-card-subtitle>

          	 <span class="cart2">Rs 1600</span> 
          	 <span class="cart3"><del> ₹ 1900</del></span>
             <span class="cart4"> 40% Off </span>
           </ion-card-subtitle>
		</ion-col>
		<ion-col size="4">
			<div class="cartimg">
     	<img src="assets/icon/men.jpg">
<div class="selectoption">
     	<select >
     		 <option>Qty:1</option>
  <option value="1">1</option>
  <option value="2">2</option>
  <option value="3">3</option>
  <option value="4">4</option>
</select>
</div>
     </div>
		</ion-col>
	</ion-row>
<hr class="hrclass2">


	<ion-row class="whitebg paddall8">
		<ion-col size="8">
			<ion-card-title class="cart1" >Men's Shirt</ion-card-title>
			<p class="cart5">Pack of One</p>
			<p class="cart4"> 2 offers available </p>
          <ion-card-subtitle>
          	 <span class="cart2">Rs 1600</span> 
          	 <span class="cart3"><del> ₹ 1900</del></span>
             <span class="cart4"> 40% Off </span>
           </ion-card-subtitle>
		</ion-col>
		<ion-col size="4">
			<div class="cartimg">
     	<img src="assets/icon/men.jpg">
<div class="selectoption">
     	<select >
     		 <option>Qty:1</option>
  <option value="1">1</option>
  <option value="2">2</option>
  <option value="3">3</option>
  <option value="4">4</option>
</select>
</div>
     </div>
		</ion-col>
	</ion-row>
	<hr class="hrclass2">
	</ion-grid>

</div>


</div>
<ion-button shape="round" color="dark" expand="block">Checkout</ion-button>
</ion-content>
