<ion-app>
  <ion-split-pane>
    <!--  our side menu  -->
    <ion-menu>
      <ion-header>
        <ion-toolbar class="menuheadpadd">
          <ion-buttons class="white"  slot="start">
          <div class="profileimg">
        <img  src="http://media.webdunia.com/_media/hi/img/article/2017-01/02/full/1483352380-2665.jpg"></div>
          </ion-buttons>
          <ion-title class="profiletext">
           
          <h6 >Vivek Sharma</h6>
          <p>8748875675</p>
        <form class="example-form">

</form>
          </ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list>
           <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages let i=index">
            <ion-item [routerLink]="p.url" [routerDirection]="''"  lines="none" class="menu_sec">
               <img [src]="p.src">
              <ion-label>{{p.title}} <p>{{p.subtitle}}</p> </ion-label>

            </ion-item>
            <hr *ngIf="(i+1)==2 || (i+1)==6" class="hrclass">
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>

    <!-- the main content -->
    <ion-router-outlet main></ion-router-outlet>
  </ion-split-pane>
</ion-app>
