
<ion-slides [options]="sliderConfig2" class="bg-white" >
      <ion-slide  class="swiper-pagination-black" >
        <ion-card (click)="cartDetails()" >
        <img src="assets/icon/men.jpg">
         <ion-card-header class="card5">
          <ion-card-title>Men,s Shirt</ion-card-title>
           <ion-card-subtitle>₹ 400 <span class="heartsec"><ion-icon name="heart-empty"></ion-icon></span>
           </ion-card-subtitle>
         </ion-card-header>
         <ion-card-content class="extraoff"> Extra 5% Off</ion-card-content>
      </ion-card>
      </ion-slide>

      <ion-slide   class="swiper-pagination-black">
        <ion-card (click)="cartDetails()" >
        <img src="assets/icon/men.jpg">
         <ion-card-header class="card5">
          <ion-card-title>Men,s Shirt</ion-card-title>
           <ion-card-subtitle>₹ 400 <span class="heartsec"><ion-icon name="heart-empty"></ion-icon></span>
           </ion-card-subtitle>
         </ion-card-header>
         <ion-card-content class="extraoff"> Extra 5% Off</ion-card-content>
      </ion-card>
      </ion-slide>
      <ion-slide >
         <ion-card (click)="cartDetails()" >
        <img src="assets/icon/men.jpg">
         <ion-card-header class="card5">
          <ion-card-title>Men,s Shirt</ion-card-title>
           <ion-card-subtitle>₹ 400 <span class="heartsec"><ion-icon name="heart-empty"></ion-icon></span>
           </ion-card-subtitle>
         </ion-card-header>
         <ion-card-content class="extraoff"> Extra 5% Off</ion-card-content>
      </ion-card>
      </ion-slide>
   
    </ion-slides>

