.card5 { padding: 5px 12px; }
.card5 ion-card-title{ font-size: 11px; text-align: left;  text-transform: uppercase; font-family: Calibri Regular!important;}
.card5 ion-card-subtitle{ font-size: 12px; text-align: left; }
.heartsec { position: absolute;right: 0; }
.extraoff { color: #3ec751!important; padding: 4px 0; font-size: 12px; }

@media screen and (max-width:350px){
	.extraoff { color: #3ec751!important; padding: 4px 0; font-size: 11px; }
	.card5 ion-card-title{ font-size: 10px;}
  .card5 ion-card-subtitle{ font-size: 11px; text-align: left; }
}


.bg-white ion-card { background-color: white!important; }
