<ion-header>
  <ion-toolbar>
    <ion-buttons class="white"  slot="start">
      <ion-back-button   defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title class="white">Product Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-fab horizontal="end"  slot="fixed" edge>
            <ion-fab-button>
              <ion-icon name="share"></ion-icon>
            </ion-fab-button>
            <ion-fab-list>
              <ion-fab-button color="danger">
                <ion-icon name="logo-facebook"></ion-icon>
              </ion-fab-button>
              <ion-fab-button color="danger">
                <ion-icon name="logo-twitter"></ion-icon>
              </ion-fab-button>
              <ion-fab-button color="danger">
                <ion-icon name="logo-vimeo"></ion-icon>
              </ion-fab-button>
            </ion-fab-list>
          </ion-fab>

 <ion-slides pager="true" [options]="slideOpts">
      <ion-slide>
          <div class="productdetailsimg">
            <img src="assets/icon/men.jpg">
          </div>
      </ion-slide>
      <ion-slide>
          <div class="productdetailsimg">
            <img src="assets/icon/men.jpg">
          </div>
      </ion-slide>
      <ion-slide>
          <div class="productdetailsimg">
            <img src="assets/icon/men.jpg">
          </div>
      </ion-slide>
      
    </ion-slides>







<div class="wishlisttext1">
      <h6>Men's Shirt</h6>
      <button class="wishlistbtn">4.3<ion-icon color="light" name="star"></ion-icon></button>
      <p>Details</p>
      <ul>
        <li> height: 50m </li>
        <li> width : 35m </li>
        <li> color : Red; </li>
        <p> <b> ₹ 600 </b> </p>
      </ul>
     </div>

<!-- <ion-footer>
   <ion-segment>
      <ion-segment-button value="new">
        New
      </ion-segment-button>
      <ion-segment-button value="hot">
        Hot
      </ion-segment-button>
    </ion-segment>
</ion-footer> -->
<div class="btncartbuy mb-3">

<ion-button color="success" size="small">
           <small>Add to Cart</small>
           <ion-icon slot="start" name="heart"></ion-icon>
          </ion-button>
          <ion-button color="danger" size="small">
           <small>Buy Now</small>
           <ion-icon slot="start" name="add"></ion-icon>
          </ion-button>

</div>

</ion-content>
