// http://ionicframework.com/docs/theming/
@import "~@ionic/angular/css/core.css";
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";

@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');



/*===========kitchen sdection=============*/


.kitchencard{ padding: 8px; }
.wishlst{ position: absolute;
    right: 0;
    padding: 5px;
    font-size: 21px; }
.kitchen1{ font-size: 15px; }
.kitchen2{ font-size: 14px; color: #000; }
.kitchen3{  font-size: 12px; }
.kitchen4{  font-size: 10px;  color: #3ec751; }

.shorttxt1{ font-size: 12px; }
.shorttxt2{ padding: 0; }
#selectby{ box-shadow: 0 2px 5px 0 rgba(0,0,0,.3); }

@media screen and (max-width: 350px){

  .kitchen2{ font-size: 11px; color: #000; }
.kitchen3{  font-size: 10px; }
.kitchen4{  font-size: 9px;  color: #3ec751; }
}


/*==========end kitchen section===============*/
.white { color: #fff; }
.whitebg { color: #fff; }
.paddall8{ padding: 8px; }
.cat_head p{ font-weight: bold;
    font-size: 18px; }
.cat_head span{     position: absolute;
    right: 10px;
    color: #e51c48;
    font-weight: 300;
    font-size: 15px; }

ion-content{ font-family: 'Roboto', sans-serif;}
body{ font-family: 'Roboto', sans-serif;}
ion-header {
  --ion-background-color:linear-gradient(to right, #00a384 0%, #01338a 100%);
  }
.whitebg { background-color: white; }

  .swiper-pagination-bullet {
    cursor: pointer;
    margin: 0 5px!important;
}

  .menu_sec ion-label {  margin-left: 15px; font-size: 18px!important; letter-spacing: 0.4px; }
  .menu_sec p{ font-size: 11px; color: #000; }

  .hrclass{   background: linear-gradient(to bottom, #00a384 0%, #01338a 100%);height: 5px;
    border-width: 0;
    box-sizing: content-box; }

    .profileimg img{ width: 55px; height: 55px; border-radius: 50%; text-align:center;}

.profiletext p {  font-size:12px; color: #fff; margin: 0 }
.profiletext h6 {  font-size:16px; color: #fff; margin: 0 }
.menuheadpadd { padding: 10px 8px!important; }

.cat_head p{ font-weight: bold;
    font-size: 18px; }
.cat_head span{     position: absolute;
    right: 10px;
    color: #e51c48;
    font-weight: 300;
    font-size: 15px; margin-top: -7px;}


.wishlistimg img { padding: 8px; }

.hrclass2 {
    background: linear-gradient(to bottom, #00a384 0%, #01338a 100%);
    height: 1px;
    border-width: 0;
    box-sizing: content-box;
}



