<ion-header>
  <ion-toolbar>
  	<ion-buttons class="white"  slot="start">
      <ion-back-button   defaultHref="/"></ion-back-button>
    </ion-buttons>
   <!-- <ion-searchbar class="white"></ion-searchbar> -->
       <ion-searchbar ></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>

</ion-content>
