.navbarsec ion-icon { color:#fff;font-size: 25px;
    margin-right: 10px;}

    .navbarsec ion-title { padding: 0;}
.navbarsec ion-menu-button{ color: #fff; }
ion-content{ --ion-background-color: #eeeff0; }





    .catmsec { margin-bottom: 20px; border-radius: 15px; }
.catsec { text-align: center; margin: auto; padding: 5%; }
.catsec img{ width: 25px; height: 25px; }
.catsec p{ font-size: 12px; margin: 4px 0 0; font-weight: bold; }
