<ion-header>
  <ion-toolbar class="navbarsec">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title routerLink="/" ><img src="assets/icon/logo.png"></ion-title>
     <ion-buttons routerLink="/search" slot="end" >
     <ion-icon ios="ios-search" md="md-search"></ion-icon>
    </ion-buttons>

     <ion-buttons slot="end" routerLink="/cart" class="cartc" >
      
     <ion-icon   ios="ios-cart" md="md-cart"></ion-icon>

    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content padding>

 <ion-slides pager="true" [options]="slideOpts">
        <ion-slide>
            <img src="assets/menu/s1.webp" height="350">
        </ion-slide>
        <ion-slide>
            <img src="assets/menu/s2.webp" height="350">
        </ion-slide>
        <ion-slide>
            <img src="assets/menu/s3.webp" height="350">
        </ion-slide>
        <ion-slide>
            <img src="assets/menu/s4.webp" height="350">
        </ion-slide>
    </ion-slides>






<div class="cat_head">
  <p>Trending Offers  <span> <ion-button (click)="allview()" size="small" color="danger">All View</ion-button></span></p>
 
</div>

<app-trending></app-trending>

<div class="cat_head">
  <p>Best Deal  <span> <ion-button (click)="allview()" size="small" color="danger">All View</ion-button></span></p>
 
</div>
<app-bestdeal></app-bestdeal>




</ion-content>
 